
  html, body {
    height: 80vh;
    background: #232427;
    font-family: 'Balsamiq Sans', sans-serif;
    color: aliceblue;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
